
/* contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
#contact .contact-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#contact .contact-item {
  width: 310px;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s ease box-shadow;
  background-color: white;
  box-shadow: 1px 2px 15px 0 white;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1 a {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/*CONTATO FORMULÁRIO*/

.form_content {
  background-color: black;
  height: 380px;
  width: 450px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 20px;
  box-shadow: 1px 2px 15px 0 white;
  font-size: 20px;
}
 form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px 0px 30px;
 }

 label {
  margin-top: 30px;
  color: white;
  
 }

 input {
  height: 30px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 15px;
 }

 input::placeholder {
  color: #827e7e;
 }


@media only screen and (min-width: 414px) and (max-width: 896px) {
  #contact .contact-items {
    flex-direction: column;
  }

.form_content {
  height: 380px;
  width: 400px;
}

}