/*hero section */
#hero .hero {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
  animation: fade-up 0.9s;
}

/* animação */
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.content-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.whrite {
  width: 760px;
}

.titulo {
  font-weight: 700;
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  background: linear-gradient(45deg, #4f46e5, #06b6d4); /* Gradiente opcional */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.subtitulo {
  font-size: 2.5rem;
  color: #4a5568;
  max-width: 660px;
  line-height: 1.2;
  margin-bottom: 30px;
  font-weight: 400;
}

.subtituloname {
  font-size: 3rem;
  max-width: 630px;
  line-height: 1.6;
  background: linear-gradient(45deg, #4f46e5, #06b6d4); /* Gradiente opcional */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.col-left .about-img {
  height: 50rem;
  width: 40em;
  position: relative;
  border: 10px solid white;
}
#hero .col-left .about-img::after {
  content: '';
  position: absolute;
  left: 40px;
  top: -35px;
  height: 98%;
  width: 98%;
  border: 7px solid red;
  z-index: -1;
}

/*botton HERO*/
.buttons {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}

.cta {
  display: inline-block;
  padding: 15px 25px;
  color: #cecece;
  background-color: transparent;
  border: 3px solid red;
  font-size: 2rem;
  /* font-weight: 800; */

  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.3s ease;
}

.cta:hover {
  color: white;
  background-color: red;
}

@media only screen and (max-width: 768px) {
  #hero .hero {
    padding: 0;
  }

  .content-hero {
    padding: 60px;
    margin-top: 0px;
  }

  .whrite {
    width: 330px;
  }

  .titulo {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .subtitulo,
  .subtituloname {
    font-size: 1.4rem;
  }

  .col-left .about-img {
    height: 25rem;
    width: 20rem;
    margin-bottom: 25px;
  }

  #hero .col-left .about-img::after {
    left: 30px;
    top: -25px;
  }

  .cta {
    padding: 10px 15px;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 425px) {
  .content-hero {
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .subtitulo,
  .subtituloname {
    margin-bottom: 20px;
  }

  /* .col-left {
    display: none;
  } */

  /* .titulo {
    font-size: 2rem;
  }

  .subtitulo,
  .subtituloname {
    font-size: 1rem;
  } */
}

/* @media only screen and (max-width: 730px) {
  .content-hero {
    display: flex;
    flex-direction: column;
    gap: 90px;
    margin: 100px 30px 30px 30px;
  }

  #hero h1 {
    font-size: 4rem;
  }
} */
